@use "../../../styles/variables" as *;
@use "../../../styles/_mixins.scss" as *;

footer {
  background-color: $secondaryColor-grey;
  color: $mainColor-blue;
  padding: 70px 0;

  .footer-menu{
    a{
      &.nav-link{
        color: $mainColor-blue;

        &:hover{
          color: $mainColor-red;
        }

      }
    }
  }

  @media (max-width: 992px) {
    .row {
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    .footer-menu {
      flex-direction: row !important;
      text-align: center;
      justify-content: center;

      a.nav-link {
        margin-right: 1rem !important;
        span {
            &:first-child {
                font-size: 1.7rem;
            }
          &:last-child {
            display: none;
          }
        }
      }

      &.footer-social-menu{
        @include flexbox($jc:center, $ai:center, $gap:2rem)
      }
    
    }
    h3 {
      margin-top: 3rem !important;
    }
  }
}

a.nav-link {
  padding-inline: 0;
  svg {
    margin-right: 10px;
  }
}
